<ion-header>
  <ion-toolbar>
    <ion-title>editusercard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <p> </p>
      <p>  </p>
      <p>  </p>


    </div>
    <ion-button (click)="redirect()" >cancel</ion-button>
    <ion-button (click)="addcardpoints()">Add Point</ion-button>
    <div>
      <ion-button (click)="getcurrentusercard()">test user only</ion-button>
      <ion-button (click)="deletefreemeals()">delete free meal</ion-button>
    </div>

    <div>
      <h1>Congrats!!</h1>
      <h6>Free meal</h6>
    </div>
  </div>

</ion-content>
