<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Add Resto Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topcontainer"></div>
  <div class="containerform">
    <form [formGroup]="form">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input
                type="text"
                formControlName="name"
                autocomplete
                autocorrect
                ></ion-input>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Address</ion-label>
              <ion-input
                type="text"
                formControlName="address"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <app-image-picker
              (imagePick)="onImagePicked($event)"
            ></app-image-picker>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
            type="submit"
            expand="block"
            color="primary"
            (click)="onCreateRestocard()"
            [disabled]="!form.valid"
            >Add Card</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
